.tarjeta {
  box-shadow: 3px;
  padding: 9px;
  background-color: #040404;
  margin: 3px;
  flex: 0 0 150px;
  border-radius: 5px;
  width: 150px;
  height: 200px;
}

#principal {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  gap: 16px;
  width: 100%;
}
